.top-main
  h1.mt-5.text-center
    | Look For
  p.mt-5.text-center
    | バイトの代わりを気軽に探すサービスです。
  - if logged_in?
    = link_to "投稿しに行く", new_post_path, class: "btn btn-secondary text-center mt-3"
  - else
    = link_to "登録して始める", new_user_path, class: "btn btn-secondary text-center mt-3"
