<div class="top-main">
  <h1 class="mt-5 text-center">Look Forとは</h1>
  <p class="mt-5 text-center">バイトの代わりを気軽に探すサービスです。</p>
  <%= link_to "登録して始める", new_user_path, class: "btn btn-secondary text-center mt-3"%>
</div>
