<h1>ユーザー一覧</h1>
<% @users.each do |user| %>
  <table class="table">
    <thead>
      <tr>
        <th>名前</th>
        <th>一言</th>
        <th>ライン</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to user.name, user_path(user)%></td>
        <td><%= user.word %></td>
        <td><%= user.url %></td>
      </tr>
    </tbody>
  </table>
<% end %>
