<h1><%= @user.name %></h1>

<table class="table mt-5">
  <tbody>
    <tr>
      <th>一言</th>
      <td><%= @user.word %></td>
    </tr>
    <tr>
      <th>ライン</th>
      <td><%= @user.url %></td>
    </tr>
  </tbody>
</table>
