@import "bootstrap";
@import "rails_bootstrap_forms";

body {
  background-attachment: fixed;
  background-image: url("/images/coffee.png");
  background-size: cover;
  height: 800px;
}

.top-main {
  text-align: center;
}
