header
  nav.navbar.navbar-fixed-top.navbar-expand-md.navbar-default.bg-white.mb-3
    = link_to 'LookFor', root_path, class: "navbar-brand text-secondary"
    ul.navbar-nav.ml-auto
      - if user_signed_in?
        li.nav-item
          = link_to '投稿一覧', posts_path, class: "nav-link text-secondary"
        li.nav-item
          = link_to '新規投稿', new_post_path, class: "nav-link text-secondary"
        li.nav-item
          = link_to 'ユーザー一覧', users_path, class: "nav-link text-secondary"
        li.nav-item
          = link_to 'プロフィール', profile_path, class: "nav-link text-secondary"
        li.nav-item
          = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link text-secondary"
      - else
        li.nav-item
          = link_to '投稿一覧', posts_path, class: "nav-link text-secondary"
        li.nav-item
          = link_to 'ログイン', new_user_session_path, class: "nav-link text-secondary"
